{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/home/hero-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/home/quick-quote.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/home/services-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/home/blogs-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/home/reviews-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/home/samples-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/home/how-it-works.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='main/css/home/seo.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/confirmDate/confirmDate.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/confirmDate/confirmDate.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'main/homepage/hero-section.html' %}
{% include 'main/homepage/services-section.html' %}
{% include 'main/homepage/blogs-section.html' %}
{% include 'main/homepage/reviews-section.html' %}
{% include 'main/homepage/samples-section.html' %}
{% include 'main/homepage/how-it-works-section.html' %}
{% include 'main/homepage/seo.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('main.static', filename='main/js/homepage/blogs-section.js') }}"></script>
<script src="{{ url_for('main.static', filename='main/js/homepage/quick-quote-data-fetcher.js') }}"></script>
<script src="{{ url_for('main.static', filename='main/js/homepage/quick-quote.js') }}"></script>
<script src="{{ url_for('main.static', filename='main/js/homepage/quick-quote-loader.js') }}"></script>
<script src="{{ url_for('main.static', filename='main/js/homepage/seo.js') }}"></script>
{% endblock %}
