{% extends 'main/base.html' %}
{% block meta_description %}Get professional paper writing services from expert writers. Essays, research papers, dissertations, and more with guaranteed quality and on-time delivery.{% endblock %} 
{% block body_class %}home-page{% endblock %} 

{% block title %}Home{% endblock %}

{% block styles %}
{{ super()}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/confirmDate/confirmDate.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    {% assets "main_main_home_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
{% include 'main/homepage/hero-section.html' %}
{% include 'main/homepage/services-section.html' %}
{% include 'main/homepage/blogs-section.html' %}
{% include 'main/homepage/reviews-section.html' %}
{% include 'main/homepage/samples-section.html' %}
{% include 'main/homepage/how-it-works-section.html' %}
{% include 'main/homepage/seo.html' %}
{% endblock %}

{% block scripts %}
{{ super()}}

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/confirmDate/confirmDate.js"></script>
    {% assets "main_main_home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
