<header class="header">
    <div class="header-content">
        <div class="logo">
            <img class="auth-nav-img" src="{{url_for('auth.static', filename='auth/assets/Logo.svg')}}">
            <span>TunedEssays</span>
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="#">Services</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Samples</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        <div class="header-icons">
            <!-- <div class="icon whatsapp-icon">📱</div>
            <div class="icon notification-icon">🔔</div>
            <div class="icon chat-icon">💬</div> -->
            <!-- <div class="icon profile-icon">👤</div> -->
        </div>
    </div>
</header>
